.box_set{
	background-color: red;

}
.box1,.box2,.box3{
	background-color: blue;
	height: 80px;
	width: 80px;
	position: relative;
}
.box1{
	top: 20px;

}
.box2{
	left: 40px;
}
.box3{
	bottom: -10px;
	right: 20px;
}