*{
	margin:0;
	padding: 0;
}
body{
	min-width: 700px;
}
.header,.footer{
	border: 1px solid #333;
	background-color: #aaa;
	text-align: center;
}
.left,.main,.right{
	min-height: 130px;
	float: left;
	position: relative;
}
.container{
	border: 2px solid yellow;
	overflow: hidden;
	padding-left: 200px;
	padding-right: 220px;
}
.left{
	left: -200px;
	width: 200px;
	background-color: red;
	margin-left: -100%;
}
.right{
	right: -220px;
	width: 220px;
	margin-left: -220px;
	background-color: green;
}
.main{
	background-color: blue;
	width: 100%;
}
.footer{
	clear: both;
}